.search-bar {
    width: 100%;
    max-width: 600px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
    transition: box-shadow 0.2s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: #00897b;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2d9cdb55;
  }
  